# Copiez ce fichier en ".env" et complétez avec vos identifiants réels.
# Ne publiez jamais votre fichier ".env" sur un dépôt public.

PORT=3000
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=lorem_ipsum_mot_de_passe
PGDATABASE=nyz_blog
