# Copiez ce fichier en ".env" et complétez avec vos identifiants réels.
# Ne publiez jamais votre fichier ".env" sur un dépôt public.

PORT=3001
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=lorem_ipsum_mot_de_passe
MYSQL_DATABASE=nyz_blog
